window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: rgba(40, 42, 54, 0);
    border-radius: 0px;
    color: #F8F8F2;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#memory {
    color: #4b035c;
    background-color: #cf5fe8;
    border-bottom: 5px solid #4b035c;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#cpu {
    color: #16025e;
    background-color: #6f48fa;
    border-bottom: 5px solid #16025e;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#battery {
    color: #781d04;
    background-color: #fc7a56;
    border-bottom: 5px solid #781d04;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#clock {
    color: #5e3803;
    background-color: #ffba59;
    border-bottom: 5px solid #5e3803;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#pulseaudio {
    color: #69073b;
    background-color: #fc56af;
    border-bottom: 5px solid #69073b;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#network {
    color: #781d04;
    background-color: #fc7a56;
    border-bottom: 5px solid #781d04;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#bluetooth {
    color: #69073b;
    background-color: #fc56af;
    border-bottom: 5px solid #69073b;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#disk {
    color: #4b035c;
    background-color: #cf5fe8;
    border-bottom: 5px solid #492152;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

/* General Waybar style */
#waybar {
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
    background-color: #ffba59;
    border-bottom: 5px solid #5e3803;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#workspaces button.focused {
    background-color: #5e3803;
}

#workspaces button {
    color: #5e3803;
}
